<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kapibary.naratunek">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_48x48"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.PayUActivity"
            android:label="Płatność" />

        <!--PayU activities-->
        <activity android:name="com.payu.android.sdk.payment.ui.NewCardActivity" />
        <activity android:name="com.payu.android.sdk.payment.ui.PaymentMethodListActivity" />
        <activity
            android:name="com.payu.android.sdk.payment.ui.LocalCardCheckActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.payu.android.sdk.payment.ui.LoginActivity" />
        <activity
            android:name="com.payu.android.sdk.payment.ui.PaymentActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.payu.android.sdk.payment.ui.AuthorizationActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.payu.android.sdk.payment.ui.StrongAuthorizationActivity" />
        <service android:name="com.payu.android.sdk.payment.service.PaymentEntrypointService"
            android:exported="false"/>
    </application>

</manifest>